<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
  bootstrap="vendor/autoload.php"
  colors="true"
  stopOnFailure="true"
  verbose="true"
>
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src</directory>
    </include>

    <report>
      <html outputDirectory="reports/coverage/html"/>
    </report>
  </coverage>

  <testsuites>
    <testsuite name="Tests">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>

  <listeners>
    <listener
      class="\Mockery\Adapter\Phpunit\TestListener"
      file="vendor/mockery/mockery/library/Mockery/Adapter/Phpunit/TestListener.php"
    />
  </listeners>

  <php>
    <env name="STORE_ID" value="store2"/>
    <env name="STORE_TOKEN" value="yesguy"/>
    <env name="AVS_STORE_ID" value="store5"/>
    <env name="AVS_STORE_TOKEN" value="yesguy"/>
  </php>
</phpunit>
